Create database BookStoreDB
Go
USE [BookStoreDB]
GO
/****** Object:  Table [dbo].[ChuDe]    Script Date: 09/20/2021 8:33:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuDe](
	[MaCD] [int] IDENTITY(1,1) NOT NULL,
	[Tenchude] [nvarchar](100) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTDatHang]    Script Date: 09/20/2021 8:33:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDatHang](
	[MaSach] [int] NOT NULL,
	[SoDH] [int] NOT NULL,
	[Soluong] [int] NULL,
	[Dongia] [decimal](10, 2) NULL,
	[Thanhtien] [decimal](10, 2) NULL,
 CONSTRAINT [PK_CTDATHANG] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC,
	[SoDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DonDatHang]    Script Date: 09/20/2021 8:33:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonDatHang](
	[SoDH] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NULL,
	[NgayDH] [datetime] NULL,
	[Trigia] [decimal](10, 2) NULL,
	[Dagiao] [bit] NULL,
	[Ngaygiao] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 09/20/2021 8:33:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[HoTenKH] [nvarchar](50) NULL,
	[Diachi] [nvarchar](150) NULL,
	[Dienthoai] [nvarchar](15) NULL,
	[TenDN] [nvarchar](15) NULL,
	[Matkhau] [nvarchar](15) NULL,
	[Ngaysinh] [datetime] NULL,
	[Email] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhaXuatBan]    Script Date: 09/20/2021 8:33:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaXuatBan](
	[MaNXB] [int] IDENTITY(1,1) NOT NULL,
	[TenNXB] [nvarchar](100) NULL,
	[Diachi] [nvarchar](150) NULL,
	[Dienthoai] [nvarchar](15) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sach]    Script Date: 09/20/2021 8:33:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[MaSach] [int] IDENTITY(1,1) NOT NULL,
	[TenSach] [nvarchar](100) NULL,
	[MaCD] [int] NULL,
	[MaNXB] [int] NULL,
	[Dongia] [decimal](10, 2) NULL,
	[Mota] [nvarchar](max) NULL,
	[AnhBia] [nvarchar](100) NULL,
	[Ngaycapnhat] [datetime] NULL,
	[Soluotxem] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TacGia]    Script Date: 09/20/2021 8:33:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TacGia](
	[MaTG] [int] IDENTITY(1,1) NOT NULL,
	[TenTG] [nvarchar](50) NULL,
	[Diachi] [nvarchar](150) NULL,
	[Dienthoai] [nvarchar](15) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VietSach]    Script Date: 09/20/2021 8:33:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VietSach](
	[MaTG] [int] NOT NULL,
	[MaSach] [int] NOT NULL,
	[Vaitro] [nvarchar](100) NULL,
 CONSTRAINT [PK_VIETSACH] PRIMARY KEY CLUSTERED 
(
	[MaTG] ASC,
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ChuDe] ON 

INSERT [dbo].[ChuDe] ([MaCD], [Tenchude]) VALUES (38, N'Văn học')
INSERT [dbo].[ChuDe] ([MaCD], [Tenchude]) VALUES (5, N'Tin học')
INSERT [dbo].[ChuDe] ([MaCD], [Tenchude]) VALUES (6, N'Kinh tế')
SET IDENTITY_INSERT [dbo].[ChuDe] OFF
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [HoTenKH], [Diachi], [Dienthoai], [TenDN], [Matkhau], [Ngaysinh], [Email]) VALUES (2, N'Nguyễn Văn Thành', NULL, N'0908256455', N'nvthanh', N'123', CAST(0x00006F5200000000 AS DateTime), N'lbthanh2000@gmail.com')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
SET IDENTITY_INSERT [dbo].[NhaXuatBan] ON 

INSERT [dbo].[NhaXuatBan] ([MaNXB], [TenNXB], [Diachi], [Dienthoai]) VALUES (1, N'Nhà xuất bản Trẻ', N'161 Lý Chính Thắng - Q3, Tp.HCM', N'08.9316212')
INSERT [dbo].[NhaXuatBan] ([MaNXB], [TenNXB], [Diachi], [Dienthoai]) VALUES (2, N'Nhà xuất bản Giáo Dục', N'15 Nguyễn Huệ - Q1, Tp.HCM', N'08.1232345')
INSERT [dbo].[NhaXuatBan] ([MaNXB], [TenNXB], [Diachi], [Dienthoai]) VALUES (3, N'Nhà xuất bản Kim đồng', N'55 Quang Trung, Hà Nội', N'04.944730')
SET IDENTITY_INSERT [dbo].[NhaXuatBan] OFF
SET IDENTITY_INSERT [dbo].[Sach] ON 

SET IDENTITY_INSERT [dbo].[Sach] OFF
/****** Object:  Index [PK_CHUDE]    Script Date: 09/20/2021 8:33:01 PM ******/
ALTER TABLE [dbo].[ChuDe] ADD  CONSTRAINT [PK_CHUDE] PRIMARY KEY NONCLUSTERED 
(
	[MaCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_DONDATHANG]    Script Date: 09/20/2021 8:33:01 PM ******/
ALTER TABLE [dbo].[DonDatHang] ADD  CONSTRAINT [PK_DONDATHANG] PRIMARY KEY NONCLUSTERED 
(
	[SoDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_KHACHHANG]    Script Date: 09/20/2021 8:33:01 PM ******/
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [PK_KHACHHANG] PRIMARY KEY NONCLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_NHAXUATBAN]    Script Date: 09/20/2021 8:33:01 PM ******/
ALTER TABLE [dbo].[NhaXuatBan] ADD  CONSTRAINT [PK_NHAXUATBAN] PRIMARY KEY NONCLUSTERED 
(
	[MaNXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_SACH]    Script Date: 09/20/2021 8:33:01 PM ******/
ALTER TABLE [dbo].[Sach] ADD  CONSTRAINT [PK_SACH] PRIMARY KEY NONCLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_TACGIA]    Script Date: 09/20/2021 8:33:01 PM ******/
ALTER TABLE [dbo].[TacGia] ADD  CONSTRAINT [PK_TACGIA] PRIMARY KEY NONCLUSTERED 
(
	[MaTG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CTDatHang]  WITH CHECK ADD  CONSTRAINT [FK_CTDATHAN_CTDATHANG_DONDATHA] FOREIGN KEY([SoDH])
REFERENCES [dbo].[DonDatHang] ([SoDH])
GO
ALTER TABLE [dbo].[CTDatHang] CHECK CONSTRAINT [FK_CTDATHAN_CTDATHANG_DONDATHA]
GO
ALTER TABLE [dbo].[CTDatHang]  WITH CHECK ADD  CONSTRAINT [FK_CTDATHAN_CTDATHANG_SACH] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[CTDatHang] CHECK CONSTRAINT [FK_CTDATHAN_CTDATHANG_SACH]
GO
ALTER TABLE [dbo].[DonDatHang]  WITH CHECK ADD  CONSTRAINT [FK_DONDATHA_RELATIONS_KHACHHAN] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[DonDatHang] CHECK CONSTRAINT [FK_DONDATHA_RELATIONS_KHACHHAN]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_SACH_RELATIONS_CHUDE] FOREIGN KEY([MaCD])
REFERENCES [dbo].[ChuDe] ([MaCD])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_SACH_RELATIONS_CHUDE]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_SACH_RELATIONS_NHAXUATB] FOREIGN KEY([MaNXB])
REFERENCES [dbo].[NhaXuatBan] ([MaNXB])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_SACH_RELATIONS_NHAXUATB]
GO
ALTER TABLE [dbo].[VietSach]  WITH CHECK ADD  CONSTRAINT [FK_VIETSACH_VIETSACH_TACGIA] FOREIGN KEY([MaTG])
REFERENCES [dbo].[TacGia] ([MaTG])
GO
ALTER TABLE [dbo].[VietSach] CHECK CONSTRAINT [FK_VIETSACH_VIETSACH_TACGIA]
GO
ALTER TABLE [dbo].[VietSach]  WITH CHECK ADD  CONSTRAINT [FK_VIETSACH_VIETSACH2_SACH] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[VietSach] CHECK CONSTRAINT [FK_VIETSACH_VIETSACH2_SACH]
GO
